.l-row {
  --gap: 2rem;
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.l-row--small {
  --gap: 1rem;
}
.l-row--x-small {
  --gap: 0.5rem;
}
.l-row--large {
  --gap: 3rem;
}
.l-row__fill {
  flex-grow: 1;
}

.l-row--start {
  align-items: flex-start;
}

@media (max-width: 600px) {
  .l-row {
    --gap: 1rem;
  }
}

