.l-stack {
  --default-gap: 2rem;
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
}
.l-stack--small {
  --gap: calc(var(--default-gap) / 2);
}
.l-stack--large {
  --gap: calc(var(--default-gap) * 2);
}
.l-stack--x-small {
  --gap: calc(var(--default-gap) / 4);
}
