---
export const prerender = false

import 'survey-creator-core/survey-creator-core.min.css'
import LayoutSurvey from '@/layouts/layoutSurvey.astro'
import SurveyCreator from '@/components/SurveyCreator.vue'

const { slug } = Astro.params
---

<LayoutSurvey>
  <div id="authContainer">
    <SurveyCreator
      client:load
      surveyId={slug || ''}
    />
  </div>

  <script type="text/javascript" src="/vendor/survey.core.min.js"></script>
  <script type="text/javascript" src="/vendor/survey-js-ui.min.js"></script>
  <script type="text/javascript" src="/vendor/survey-creator-core.min.js"></script>
  <script type="text/javascript" src="/vendor/survey-creator-js.min.js"></script>
</LayoutSurvey>

<style>
  #authContainer {
    height: 100%;
    min-height: 80vh;
  }
</style>