---
export const prerender = false

import LayoutSurvey from '@/layouts/layoutSurvey.astro'
import SurveyCreator from '@/components/SurveyCreator.vue'

const { slug } = Astro.params
---

<LayoutSurvey>
  <div id="authContainer">
    <SurveyCreator client:load surveyId={slug || ''} />
  </div>
</LayoutSurvey>

<style>
  #authContainer {
    height: 100%;
    min-height: 90vh;
  }
</style>