---
export const prerender = false

import LayoutSurvey from '@/layouts/layoutSurvey.astro'
import DashboardAnswers from '@/components/DashboardAnswers.vue'
import SurveyDashboard from '@/components/SurveyDashboard.vue'
import api from '@/utils/api'
import type { SurveysRecord, AnswersRecord } from '@/utils/xata'

const { slug } = Astro.params
let surveyJson: SurveysRecord | null = null
let answersJson: AnswersRecord[] | null = null

const survey = await api.GET(`survey?id=${slug}`)
const answers = await api.GET(`answers?surveyId=${slug}`)

if (survey.data && answers.data) {
  surveyJson = survey.data.survey as SurveysRecord | null
  answersJson = answers.data.map((x: AnswersRecord) => x.answer)
}
---

<LayoutSurvey>
  <h1>Resultados</h1>
  <p>Número de respostas: <strong><DashboardAnswers client:load /></strong></p>


  <script type="text/javascript" src="https://unpkg.com/plotly.js-dist-min/plotly.min.js"></script>

  <SurveyDashboard
    client:load
    surveyJson={surveyJson}
    answersJson={answersJson}
  />

  <script type="text/javascript" src="https://unpkg.com/survey-core/survey.core.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/survey-analytics/survey.analytics.min.js"></script>

</LayoutSurvey>
