---
export const prerender = false

import LayoutSurvey from '@/layouts/layoutSurvey.astro'
import DashboardAnswers from '@/components/DashboardAnswers.vue'
---

<LayoutSurvey>
  <h1>Resultados</h1>
  <p>Número de respostas: <strong><DashboardAnswers client:load /></strong></p>
</LayoutSurvey>
