
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: #FFF;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;

}
.button--outline {
  background-color: #FFF;
  color: var(--color-primary);
}
.button--small {
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
}