---
import Layout from '@/layouts/layout.astro'
import SurveyIntro from '@/components/SurveyIntro.vue'

const surveyStartDate = new Date(import.meta.env.SURVEY_START_DATE)
const surveyEndDate = new Date(import.meta.env.SURVEY_END_DATE)
---

<Layout>
  <h1>
    <small>Bem-vindo ao</small><br>
    Censo Rizoma<br>
    2025
  </h1>
  <p>O Censo Rizoma é uma iniciativa da RizomaCoop, que visa perceber a população da cooperativa.</p>

  <SurveyIntro
    client:load
    surveyStartDate={surveyStartDate}
    surveyEndDate={surveyEndDate}
  />
</Layout>

<style is:global>
  main {
    justify-content: center;
    align-items: center;
  }
</style>

<style scoped>
  h1 {
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 900;
    color: var(--color-primary);
    text-align: center;
    line-height: 1;
    > small {
      font-size: clamp(1rem, 2.5vw, 2.5rem);
      font-weight: 500;
    }
  }
  p {
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: center;
  }
  p {
    max-width: 800px;
  }
</style>
