---
import Layout from '@/layouts/layout.astro'
import Button from '@/components/Button.astro'
import isSurveyAvailable from '@/utils/isSurveyAvailable'
import dates from '@/config'
---

<Layout>
  <h1>
    <small>Bem-vindo ao</small><br>
    Censo Rizoma<br>
    2025
  </h1>
  <p>O Censo Rizoma é uma iniciativa da RizomaCoop, que visa perceber a população da cooperativa.</p>

  {
    isSurveyAvailable ? (
      <p>Preenche o censo 2025 até dia 19 de Fevereiro.</p>
      <Button href="/censo">Preencher Censo 2025</Button>
    ) : (
      <p>O Censo está a ser preparado e estará disponível entre os dias {dates.start.toLocaleDateString()} e {dates.end.toLocaleDateString()}.</p>
    )
  }
</Layout>

<style is:global>
  main {
    justify-content: center;
    align-items: center;
  }
</style>

<style scoped>
  h1 {
    font-size: 5rem;
    font-weight: 900;
    color: var(--color-primary);
    text-align: center;
    line-height: 1;
    > small {
      font-size: 3rem;
      font-weight: 500;
    }
  }
  p,
  li {
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    max-width: 800px;
  }
</style>
