---
import Layout from '@/layouts/layout.astro'
import SurveyList from '@/components/SurveyList.astro'
---

<Layout>
  <h1>
    <small class="u-block">Plataforma de inquéritos da</small>
    RizomaCoop
  </h1>

  <div class="l-stack l-stack--x-small">
    <h2>Inquéritos a decorrer</h2>
    <SurveyList status="current" server:defer />
  </div>
  <div class="l-stack l-stack--x-small">
    <h2>Inquéritos futuros</h2>
    <SurveyList status="future" server:defer />
  </div>

</Layout>

<style scoped>
  h1 {
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 900;
    color: var(--color-primary);
    text-align: center;
    line-height: 1;
    max-width: 800px;
    width: 100%;
    margin-inline: auto;
    > small {
      font-size: clamp(1rem, 2.5vw, 2.5rem);
      font-weight: 500;
    }
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-neutral-70);
  }
</style>
