---
interface Props {
  label: string
  href?: string
}
const {label, href} = Astro.props as Props
---

<li>
  {
    href ? (
      <a href={href}>
        {label}
      </a>
    ): (label)
  }
</li>

<style>
  a {
    color: var(--color-primary);
    text-decoration: underline;
  }
</style>