---
const { type = 'button', href } = Astro.props
---

{
  href ? (
    <a href={href}>
      <slot />
    </a>
  ) : (
    <button type={type}>
      <slot />
    </button>
  )
}


<style>
@import '@/css/components/button.css';
</style>