---
import api from '@/utils/api'

const { slug } = Astro.params

let answers = null
let isLoading = true

try {
  const response = await api.GET(`answers?surveyId=${slug}`)
  if (!response.error) {
    answers = response.data.length
  }
} finally {
  isLoading = false
}
---

<span>{answers}</span>