---
import { Image } from 'astro:assets'
import logoDark from '@/images/rizoma-logo-black.png'
---

<footer class="l-row">
  <Image src={logoDark} alt="Inquéritos da RizomaCoop" width={60} />
  <p>Inquéritos da RizomaCoop</p>
</footer>

<style scoped>
  footer {
    display: flex;
    justify-content: space-between;
    margin-block-start: 3rem;
    padding: 1.5rem 2rem;
    color: #FFF;
    background-color: var(--color-neutral-70);
  }
</style>

