---
import { Image } from 'astro:assets'
import logo from '@/images/rizoma-logo-small.png'
import Navigation from './Navigation.astro'
---

<header>
  <a href="/" class="logo">
    <figure>
      <Image 
        src={logo} 
        alt="Logótipo Rizoma"
        width={80}
      />
    </figure>
    <h1>Censo Rizoma 2025</h1>
  </a>
  <div class="navigation is-visible-logged-in">
    <Navigation />
  </div>
</header>


<style scoped>
  header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    color: var(--color-primary);
  }
  .logo {
    --gap: 2rem;
    display: inline-flex;
    align-items: center;
    gap: var(--gap);
    > figure {
      border-inline-end: 1px solid var(--color-primary);
      padding-inline-end: var(--gap);
    }
  }
  h1 {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .navigation {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }


  @media (max-width: 1200px) {
    header {
      flex-direction: column;
    }
    .logo {
      justify-content: center;
    }
    .navigation {
      justify-content: center;
    }
  }
  @media (max-width: 600px) {
    .logo {
      --gap: 1rem;
      img {
        width: 65px;
        height: auto;
      }
    }
    h1 {
      font-size: 1rem;
    }
  }
</style>
