---
import { Image } from 'astro:assets'
import logo from '@/images/rizoma-logo-small.png'
import Navigation from './Navigation.astro'
const currentPath = Astro.url.pathname
---

<header>
  <div class="l-container l-row container">
    <a href="/" class="logo">
      <figure>
        <Image 
          src={logo} 
          alt="Logótipo Rizoma" 
          width={100}
        />
      </figure>
    </a>
    <h1 class="l-row__fill">Censo Rizoma 2025</h1>
    <Navigation currentPath={currentPath} />
  </div>
</header>


<style scoped>
  header {
    padding-block: 2rem;
    color: var(--color-primary);
  }
  .container {
    align-items: center;
  }
  h1 {
    font-weight: 500;
  }
  .logo {
    padding-inline-end: 2.2rem;
    border-inline-end: 1px solid var(--color-primary);
  }

</style>
