---
import Logout from './Logout.vue'
import isSurveyAvailable from '@/utils/isSurveyAvailable'

const currentPath = Astro.url.pathname

const pages = [
  {
    label: 'Início',
    href: '/'
  },
  {
    label: 'Censo',
    href: '/censo',
    isAdmin: !isSurveyAvailable
  },
  {
    label: 'Dashboard',
    href: '/admin',
    isAdmin: true
  },
  {
    label: 'Criador',
    href: '/admin/editor',
    isAdmin: true
  },
]

---

<nav>
  {
    <ul>
      {pages.map((page) => (
        <li class={page.isAdmin ? 'is-visible-logged-in' : ''}>
          <a href={page.href} class={currentPath === page.href ? 'active' : ''}>{page.label}</a>
        </li>
      ))}
      <li class="is-visible-logged-in">
        <Logout client:load>Sair</Logout>
      </li>
    </ul>
  }
</nav>



<style>
  ul {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  a {
    padding: .2rem 0.5rem;
  }
  .active {
    border-bottom: 2px solid var(--color-primary);
    font-weight: 600;
  }
  .is-visible-logged-in {
    display: none;
  }
  body.is-logged-in .is-visible-logged-in {
    display: block;
  }

  @media (max-width: 700px) {
    ul {
      gap: 1rem;
    }
  }
</style>

