---
import Logout from './Logout.vue'

const className = Astro.props.class

const currentPath = Astro.url.pathname

const pages = [
  {
    label: 'Início',
    href: '/'
  }
]

---

<nav class={className}>
  <ul>
    {pages.map((page) => (
      <li>
        <a href={page.href} class={currentPath === page.href ? 'active' : ''}>{page.label}</a>
      </li>
    ))}
    <li>
      <Logout client:load>Sair</Logout>
    </li>
  </ul>
</nav>



<style>
  ul {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  a {
    padding: .2rem 0;
  }
  .active {
    border-bottom: 2px solid var(--color-primary);
    font-weight: 600;
  }
  @media (max-width: 700px) {
    ul {
      gap: 1rem;
    }
  }
</style>

