---
import { isAuthenticated } from '@/stores/auth'

export const prerender = false

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData()
    const password = data.get('password')
    if (password === 'rizoma') {
      isAuthenticated.set(true)
      
    } else {
      throw new Error('Password incorrect')
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<h1>Entrar</h1>
<form method="POST">
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" />
  </div>
  <button type="submit">Entrar</button>
</form>