<script>
  import { surveyJson } from '@/data'

  // @ts-ignore
  const survey = new Survey.Model(surveyJson);

  document.addEventListener('DOMContentLoaded', function() {
    survey.render(document.getElementById('surveyContainer'))
  })
</script>

<div id="surveyContainer"></div>

<style>
  #surveyContainer {
    width: 100%;
  }
</style>