
.is-visible-logged-in {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
}
body.is-logged-in .is-visible-logged-in {
  visibility: visible;
  position: initial;
  pointer-events: auto;
}
