---
import '@/css/main.css'
import 'survey-core/defaultV2.min.css'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
---

<doctype html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Censo Rizoma 2025</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">

  <script type="text/javascript" src="https://unpkg.com/survey-core/survey.core.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/survey-js-ui/survey-js-ui.min.js"></script>

</head>
<body>
  <Header />
  <main class="l-container l-stack l-stack--large">
    <slot />
  </main>
  <Footer />

  <script>
    import loggedInClass from '@/utils/loggedInClass'
    loggedInClass.toggle()
  </script>
</body>
</html>
