---
import Layout from '@/layouts/layout.astro'
import AuthProvider from '@/components/AuthProvider.vue'
import SurveyCreator from '@/components/SurveyCreator.vue'
---

<Layout>
  <h1>Criador de inquérito</h1>
  <div id="authContainer">
    <AuthProvider client:load>
      <SurveyCreator />
    </AuthProvider>
  </div>
</Layout>

<style>
  #surveyContainer {
    width: 100%;
  }
</style>