---
import Layout from '@/layouts/layout.astro'
import AuthProvider from '@/components/AuthProvider.vue'
import SurveyCreator from '@/components/SurveyCreator.vue'
---

<Layout>
  <div id="authContainer">
    <AuthProvider client:load>
      <SurveyCreator client:load />
    </AuthProvider>
  </div>
</Layout>

<style>
  #authContainer {
    height: 100%;
  }
</style>