---
import Layout from '@/layouts/layout.astro'
import AuthProvider from '@/components/AuthProvider.vue'
import DashboardAnswers from '@/components/DashboardAnswers.vue'
---

<Layout>
  <AuthProvider client:load>
    <h1>Olá!</h1>
  </AuthProvider>
</Layout>
