---
import Layout from '@/layouts/layout.astro'
import AuthProvider from '@/components/AuthProvider.vue'
import DashboardAnswers from '@/components/DashboardAnswers.vue'
import SurveyList from '@/components/SurveyList.astro'
---

<Layout>
  <AuthProvider server:defer>
    <h1>Inquéritos</h1>

    <div class="l-row l-row--start l-row--large">
      <div class="l-stack l-stack--x-small">
        <h2>Inquéritos passados</h2>
        <SurveyList status="previous" server:defer />
      </div>
      <div class="l-stack l-stack--x-small">
        <h2>Inquéritos a decorrer</h2>
        <SurveyList status="current" server:defer />
      </div>
      <div class="l-stack l-stack--x-small">
        <h2>Inquéritos futuros</h2>
        <SurveyList status="future" server:defer />
      </div>
    </div>
  </AuthProvider>
</Layout>
