---
import Layout from '@/layouts/layout.astro'
import AuthProvider from '@/components/AuthProvider.vue'
---

<Layout>
  <h1>Dashboard</h1>
  <AuthProvider client:load>
    <p>Logged in</p>
  </AuthProvider>
</Layout>
