---
import Layout from '@/layouts/layout.astro'
import AuthProvider from '@/components/AuthProvider.vue'
import DashboardAnswers from '@/components/DashboardAnswers.vue'
---

<Layout>
  <h1>Dashboard</h1>
  <AuthProvider client:load>
    <p>Número de respostas: <strong><DashboardAnswers client:load /></strong></p>
  </AuthProvider>
</Layout>
